
<div class="container">


  <div id="A1-main">
    <div class="overlay"></div>
      <video autoplay muted>
        <source src="../../assets/video/video-header.mp4" type="video/mp4">
        <source src="../../assets/video/video-header.ogv" type="video/ogg">
        <source src="../../assets/video/video-header.webm" type="video/webm">
    </video>               
    
  </div>

  <div class="flex txt-center">
    <div class="content-flex">
      <div style="margin-bottom: 4em">
          <a href="#" title="smartcoder">
              <img class="logo" src="assets/images/logo-fonte.png" alt="smartcoder tecnologia" title="smartcoder tecnologia">
          </a>
      </div>
      <div>
          <h1>Aprenda <strong class="txt-bold">DE FATO</strong> a criar um site prático, de qualidade e responsivo nesse curso com um conteúdo <strong class="txt-bold">INCRÍVEL!</strong> </h1>
          <p>Não fique de fora, próxima turma 12/2017 - Aulas presenciais. Quantidade de alunos limitada. Mande-nos uma mensagem, garante sua vaga e um super desconto.</p>
          <p>Parcele em até 10x sem juros, aceitamos todos os cartões de crédito e débito.</p>
      </div>
      <div>
          <div id="contactForm" class="">
              
              <div class="loading" [hidden]="loading"></div>
                
              <div class=" txt-center">
                  <div [hidden]="success">
                    <div class="success">
                      <h2>Mensagem enviada com suceso!</h2>
                    </div>
                  </div>
                <!-- <h2 class="title-tools">Não fique de fora, entre em contato. <br /> Próximas turmas em Dezembro/2017</h2> -->
                
                <form action="" #newContact="ngForm">
                  <div class="form-group form-name" [class.has-error]="!nameTemplate.valid && nameTemplate.touched"> 
                    <label class="" for="">
                      <span>Nome</span>
                      <input 
                        type="text"
                        id="name"
                        name="name"
                        #nameTemplate="ngModel"
                        [ngModel]="name"
                        placeholder="Digite seu nome"
                        required
                        minlength="3"
                        autocomplete="off">
                        <div
                        *ngIf="nameTemplate.hasError('minlength')"
                        class="txt-negativo">O nome não pode ter menos que 3 letras.
                      </div>
                    </label>
                  </div>
                  
                  <div class="form-group form-email" [class.has-error]="!emailTemplate.valid && emailTemplate.touched">
                    <label for="" class="">
                      <span>E-mail</span>
                      <input
                        type="email"
                        id="email"
                        name="email"
                        #emailTemplate="ngModel"
                        [ngModel]="email"
                        placeholder="Digite seu e-mail"
                        required
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                        autocomplete="off">
                        <div
                          *ngIf="emailTemplate.touched &&  emailTemplate.hasError('pattern')"
                          class="txt-negativo">Digite um e-mail válido.
                        </div>
                    </label>
                  </div>
                  
                  <div class="form-group form-tel" [class.has-error]="!telTemplate.valid && telTemplate.touched">
                    <label for="" class="">
                      <span>Telefone</span>
                      <input 
                        type="text"
                        id="tel"
                        name="tel"
                        #telTemplate="ngModel"
                        [ngModel]="tel"
                        placeholder="Digite seu telefone"
                        required
                        autocomplete="off"
                        minlength="13"
                        [textMask]="{mask:mask, guide: false}">               
                    </label>
                    <div
                      *ngIf="telTemplate.hasError('minlength')"
                      class="txt-negativo">Digite um telefone válido.
                    </div>
                    <div
                      *ngIf="telTemplate.touched && telTemplate.hasError('required')"
                      class="txt-negativo">Campo obrigatório.
                    </div>
                  </div>
                  
                  <div class="form-group form-btn">
                    <button
                      [disabled]="newContact.invalid"
                      (click)="postForm(newContact.value); newContact.resetForm()">Enviar formulário</button>
                  </div>
                </form>
              </div>
    
            </div>
      </div>
      <div class="footer">
          <p>smartcoder 2017 - Endereço: Alameda Santos - Bela Vista - SP.</p>
      </div>
      
      
        



    </div>
  </div>


</div>