<div class="container">

  <div class="box-full">
    <div class="content txt-center">
      <a href="#" title="smartcoder">
          <img class="logo" src="assets/images/logo.png" alt="smartcoder tecnologia" title="smartcoder tecnologia">
      </a>
    </div>
  </div>

  <div class="box-full bg-header bg-header-call-to-action">
    <div class="content txt-center">
        <h1>Aprenda <strong class="txt-bold">DE FATO</strong> a criar um site prático, de qualidade e responsivo!</h1>
        <button class="call-to-action">Tenho interesse!</button>
    </div>
  </div>

  <div class="box-full">
    <div class="content txt-center">
      <h2>Porque fazer esse curso?</h2>
      <p>A programação é um dos pilares da Internet e é fundamental para quem deseja atuar em uma
        das áreas mais fascinantes e bem remuneradas do mercado digital. Pensando nisso, a smartcoder 
        criou o ((nome do curso)), um programa que vai ensinar você a programar na prática,
        sem complicações. Aprenda do zero e, ao final do curso, você vai saber criar um site de
        verdade e de qualidade!</p>

      <h3>A quem se destina</h3>
      <p>O (((nome do curso))) é voltado para você que não tem nenhum conhecimento em programação e
          não sabe por onde começar. Designers, redatores e outros profissionais do marketing digital
          estão convidados a ampliar seus conhecimentos, aumentando o currículo para novas e
          melhores oportunidades no mercado.</p>

      <h3>O que e como vou aprender?</h3>
      <p>Queremos que você aprenda sem rodeios e termine o curso sabendo programar o suficiente
        para criar seu site. Aqui, você terá aulas práticas e diretas em um curso de Xx duração.
        Preparamos um programa específico e completo para você ganhar conhecimento de forma
        rápida e eficiente!</p>

        <p>O mercado de trabalho muda constantemente, as empresas estão exigindo cada vez mais conhecimento
           de seus funcionários, sabemos que desenvolver um site, ou um sistema web é um tanto complexo, aqui na 
           'smartcoder' podemos te ajudar a entender esse mundo do frontend.</p>

          <p>Aqui na 'smartcoder' temos treinamentos que vão desde quem não sabe o que é HTML, até desenvolvermos uma SPA - Single page application</p>
          <p>Além de aprender diversas ferramentas para construir um website moderno, e utilizando as melhores técnicas e boas práticas, vamos aprender também como controlar as versões do nosso projeto, o onde armazenar os arquivos.</p>
    </div>
  </div>
  
  <div class="box-full bg-header bg-header-tools">
    <div class="content txt-center">
      <h2 class="title-tools">Ferramentas que aprenderá no curso</h2>

      <ul class="list-tools">
        <li><div><img src="assets/images/logo-html5.png" alt="HTML5" title="HTML5"></div></li>
        <li><div><img src="assets/images/logo-css3.png" alt="CSS3" title="CSS3"></div></li>
        <li><div><img src="assets/images/logo-javascript.png" alt="JAVASCRIPT" title="JAVASCRIPT"></div></li>
        <li><div><img src="assets/images/logo-npm.png" alt="NPM" title="NPM"></div></li>
        <li><div><img src="assets/images/logo-bootstrap.png" alt="BOOTSTRAP" title="BOOTSTRAP"></div></li>
        <li><div><img src="assets/images/logo-git.png" alt="GIT" title="GIT"></div></li>
        <li><div><img src="assets/images/logo-github.png" alt="GITHUB" title="GITHUB"></div></li>
        <li><div><img src="assets/images/logo-gulp.png" alt="GULP" title="GULP"></div></li>
      </ul>
          
    </div>
  </div>

  <div class="box-full">
    <div class="content txt-center">
      <h2>Conteúdo programático</h2>
      <p>Nosso treinamento tem a duração de 80 horas com um conteúdo super completo, que vai desde a percepção do projeto até a codificação em si. Utilizaremos algumas ferramentas para facilitar nosso trabalho para nos ajudar a organizar o projeto.</p>
      <ul class="list">
        <li><p>Introdução ao html</p>
          <ul>
            <li><p>Introdução HTML</p></li>
            <li><p>História do HTML</p></li>
            <li><p>Conhecendo os navegadores</p></li>
            <li><p>Motores de renderização</p></li>
            <li><p>Tags e atributos</p></li>
            <li><p>Estruturas e padrões</p></li>
            <li><p>Titulos</p></li>
            <li><p>Paragrafos</p></li>
            <li><p>Listas</p></li>
            <li><p>Tabelas</p></li>
            <li><p>Links</p></li>
            <li><p>Imagens</p></li>
            <li><p>Áudio</p></li>
            <li><p>Vídeo</p></li>
            <li><p>Microformatos</p></li>
            <li><p>Formulários</p></li>
            <li><p>SEO</p></li>
          </ul>
        </li>
      </ul>
      <ul class="list">
          <li><p>Introdução a CSS</p>
            <ul>
              <li><p>Introdução CSS</p></li>
              <li><p>História do CSS</p></li>
              <li><p>Versões CSS</p></li>
              <li><p>Estilos Inline.</p></li>
              <li><p>CSS incorporado no arquivo HTML.</p></li>
              <li><p>Incluindo um arquivo CSS externo.</p></li>
              <li><p>Importando um arquivo CSS.</p></li>
              <li><p>HTML5 x CSS3.</p></li>
              <li><p>Estágios de padronização da W3C.</p></li>
              <li><p>Prefixos Proprietários.</p></li>
              <li><p>Modularização.</p></li>
              <li><p>POSICIONAMENTO E ALINHAMENTO.</p></li>
              <li><p>Configurando posicionamento.</p></li>
              <li><p>Elementos flutuantes para layout: Clear, Trabalhando camadas com z-index.</p></li>
              <li><p>Flexible Box Layout: Controlando o fluxo dentro de um container.</p></li>
              <li><p>Bordas e sombras</p></li>
              <li><p>SELETORES E HERANCAS</p></li>
              <li><p>Seletores.</p></li>
              <li><p>Entendendo o DOM: Selecionando pela classe, pelo ID e pelo elemento HTML.</p></li>
              <li><p>Listagem de seletores da CSS3.</p></li>
              <li><p>Herança em CSS3.</p></li>
              <li><p>Especificidade e a propriedade !important.</p></li>
              <li><p>Boas práticas</p></li>
              <li><p>Trabalhando com Cores, Backgrounds e Gradientes</p></li>
              <li><p>Trabalhando com Fontes</p></li>
              <li><p>Transições em CSS3</p></li>
            </ul>
          </li>
        </ul>

        <ul class="list">
          <li><p>Introdução ao JAVASCRIPT</p>
            <ul>
              <li><p>Introdução HTML</p></li>
              <li><p>História do HTML</p></li>
              <li><p>Conhecendo os navegadores</p></li>
              <li><p>Motores de renderização</p></li>
              <li><p>Tags e atributos</p></li>
              <li><p>Estruturas e padrões</p></li>
              <li><p>Titulos</p></li>
              <li><p>Paragrafos</p></li>
              <li><p>Listas</p></li>
              <li><p>Tabelas</p></li>
              <li><p>Links</p></li>
              <li><p>Imagens</p></li>
              <li><p>Áudio</p></li>
              <li><p>Vídeo</p></li>
              <li><p>Microformatos</p></li>
              <li><p>Formulários</p></li>
              <li><p>SEO</p></li>
            </ul>
          </li>
        </ul>

    </div>
  </div>

  <div class="box-full bg-header bg-header-tools">

    <div class="content txt-center">
      <h2 class="title-tools">Não fique de fora, entre em contato</h2>
      <form action="" #newContact="ngForm">
        <div class="form-group form-name" [class.has-error]="!nameTemplate.valid && nameTemplate.touched"> 
          <label class="" for="">
            <span>Nome</span>
            <input 
              type="text"
              id="name"
              name="name"
              #nameTemplate="ngModel"
              [ngModel]="name"
              placeholder="Digite seu nome"
              required
              minlength="3"
              autocomplete="off">
              <div
              *ngIf="nameTemplate.hasError('minlength')"
              class="txt-negativo">O nome não pode ter menos que 3 letras.
            </div>
          </label>
        </div>
        <div class="form-group form-email" [class.has-error]="!emailTemplate.valid && emailTemplate.touched">
          <label for="" class="">
            <span>E-mail</span>
            <input
              type="email"
              id="email"
              name="email"
              #emailTemplate="ngModel"
              [ngModel]="email"
              placeholder="Digite seu e-mail"
              required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              autocomplete="off">
              <div
                *ngIf="emailTemplate.touched &&  emailTemplate.hasError('pattern')"
                class="txt-negativo">Digite um e-mail válido.
              </div>
          </label>
        </div>
        <div class="form-group form-tel" [class.has-error]="!telTemplate.valid && telTemplate.touched">
          <label for="" class="">
            <span>Telefone</span>
            <input 
              type="text"
              id="tel"
              name="tel"
              #telTemplate="ngModel"
              [ngModel]="tel"
              placeholder="Digite seu telefone"
              required
              autocomplete="off"
              minlength="13"
              [textMask]="{mask:mask, guide: false}">               
          </label>
          <div
            *ngIf="telTemplate.hasError('minlength')"
            class="txt-negativo">Digite um telefone válido.
          </div>
          <div
            *ngIf="telTemplate.touched && telTemplate.hasError('required')"
            class="txt-negativo">Campo obrigatório.
          </div>
        </div>
        <div class="form-group form-btn">
          <button
            [disabled]="newContact.invalid"
            (click)="postForm(newContact.value)">Enviar formulário</button>
        </div>
      </form>
    </div>
  </div>

  <div class="box-full">
    <div class="content txt-center">
      <h2>Depoimentos</h2>

      <ul class="list-tools list-testmonials">
        <li>
          <div>
            <img src="assets/images/image-testmonial.png" alt="Testmonial" title="Testmonial">
            <h3 class="title-testmonial">J. Smith</h3>
            <p>Vestibultum fringilla,
                diam nec eleifend ultricies, 
                erat ipsum mollis lorem, 
                non aliquet risus erat non ex. 
                at rhoncus eros.</p>
          </div>
        </li>
        <li>
          <div>
            <img src="assets/images/image-testmonial.png" alt="Testmonial" title="Testmonial">
            <h3 class="title-testmonial">J. Smith</h3>
            <p>Vestibultum fringilla,
                diam nec eleifend ultricies, 
                erat ipsum mollis lorem, 
                non aliquet risus erat non ex. 
                at rhoncus eros.</p>
          </div>
        </li>
        <li>
          <div>
            <img src="assets/images/image-testmonial.png" alt="Testmonial" title="Testmonial">
            <h3 class="title-testmonial">J. Smith</h3>
            <p>Vestibultum fringilla,
                diam nec eleifend ultricies, 
                erat ipsum mollis lorem, 
                non aliquet risus erat non ex. 
                at rhoncus eros.</p>
          </div>
        </li>
        <li>
          <div>
            <img src="assets/images/image-testmonial.png" alt="Testmonial" title="Testmonial">
            <h3 class="title-testmonial">J. Smith</h3>
            <p>Vestibultum fringilla,
                diam nec eleifend ultricies, 
                erat ipsum mollis lorem, 
                non aliquet risus erat non ex. 
                at rhoncus eros.</p>
          </div>
        </li>
      
      </ul>
          
    </div>
  </div>


</div>

