
body {
	font-size: 62.5%;
	transition: .5s;
	font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 100%;
}

.box-full {
    width: 100%;
    position: relative;   
}

.content {
    padding: 30px 20px;
    max-width: 1366px;
    margin: 0 auto;
}

.txt-center {
	text-align: center;
}

.bg-header {
    background: url(/assets/images/bg-header.jpeg);
    padding: 60px 0;
    background-size: cover;
}

.bg-header:before {
    content: '';
    background: rgba(24,58,96, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
h1 , h2{
    position: relative;
    z-index: 1;
    color: #fff;
    position: relative;
    z-index: 1;
    font-size: 3.6em;
	font-weight: 300;
	margin: 0 auto;
	max-width: 615px;
    line-height: 1.4em;
}
h2 {
    color: rgb(24, 58, 96);
    margin-bottom: .8em;
}
.txt-bold {
    font-weight: bold;
}

.call-to-action {
    border: 1px #fff solid;
    z-index: 2;
    position: relative;
    background: transparent;
    color: #fff;
    padding: 20px 40px;
    font-size: 3.6em;
    font-weight: 300;
    margin-top: 40px;
    transition: .2s;
}

.call-to-action:hover {
    cursor: pointer;
    background: #fff;
    color: rgb(24, 58, 96);
}

p {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.6em;
    margin-bottom: 1.6em;
}
@media(max-width: 481px) {
    img {
		width: 70%;
		min-width: 230px;
	}
}

